<a href="https://colab.research.google.com/github/LegendaryEagle00/Python/blob/main/TesteCRUDPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Criando a Classe Cliente

In [ ]:
class Cliente():
    def __init__(self, nome, idade, id=None):
        self.id = id
        self.nome = nome
        self.idade = idade

    def get_nome(self):
        return self.nome

    def get_idade(self):
        return self.idade

    def get_id(self):
        return self.id

    def set_nome(self, nome):
        self.nome = nome

    def set_idade(self, idade):
        self.idade = idade

#Criando Tabela

In [ ]:
import sqlite3
def criar_tabela():
    conn = sqlite3.connect('clientes.db')
    cursor = conn.cursor()
    cursor.execute(
        """
        CREATE TABLE IF NOT EXISTS clientes (
            id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
            nome TEXT NOT NULL,
            idade INTEGER
        );
        """
    )
    conn.commit()
    conn.close()

In [ ]:
# Chamando a função para criar a tabela
criar_tabela()

#Criando a Operação CREATE

In [ ]:
def create_cliente(cliente):
    conn = sqlite3.connect('clientes.db')
    cursor = conn.cursor()
    cursor.execute(
        'INSERT INTO clientes (nome, idade) VALUES (?, ?)',
        (cliente.get_nome(), cliente.get_idade())
    )
    conn.commit()
    conn.close()

#Criando a Operação READ

In [ ]:
def read_cliente(id):
    conn = sqlite3.connect('clientes.db')
    cursor = conn.cursor()
    cursor.execute(
        "SELECT * FROM clientes WHERE id = ?",
        (id,)
    )
    cliente = cursor.fetchone()
    conn.close()
    return cliente

#Criando a Operação Update

In [ ]:
def update_cliente(cliente):
    conn = sqlite3.connect('clientes.db')
    cursor = conn.cursor()
    cursor.execute(
        'UPDATE clientes SET nome = ?, idade = ? WHERE id = ?',
        (cliente.get_nome(), cliente.get_idade(), cliente.get_id())
    )
    conn.commit()
    conn.close()

#Criando a Operação Delete

In [ ]:
def delete_cliente(id):
    conn = sqlite3.connect('clientes.db')
    cursor = conn.cursor()
    cursor.execute(
        'DELETE FROM clientes WHERE id = ?',
        (id,)
    )
    conn.commit()
    conn.close()